<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <mat-icon mat-raised-button class="pointercursor" (click)="drawer.toggle()">menu</mat-icon>
    <span>Header</span>
    <span class="toolbar-spacer"></span>

    <div class="col-md-4 d-none d-xl-block d-md-block d-lg-block"><input class="form-control" placeholder="Sreach" [(ngModel)]="search" autocomplete="off"></div>
    <img src="../../assets/images/avatars/man.png" matTooltip="Profile" [matMenuTriggerFor]="menu1" class="img-fluid avatar pointercursor" />
    <mat-menu #menu1="matMenu">
      <mat-list role="list">
          <mat-list-item role="listitem">Profile</mat-list-item>
          <mat-list-item role="listitem">Lock</mat-list-item>
          <mat-list-item role="listitem">SignOut</mat-list-item>
        </mat-list>
    </mat-menu>
    <mat-icon matTooltip="Notifications" matBadge="15" matBadgeColor="accent" matBadgePosition="after" class="pointercursor"  [matMenuTriggerFor]="menu">notifications</mat-icon>
    <mat-menu #menu="matMenu">
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
      </mat-menu>
    <mat-icon class="toolbar-icon pointercursor" matTooltip="Themes" (click)="drawerTheme.toggle()">format_color_fill</mat-icon>
    <mat-menu #theme="matMenu">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let data of dataItems" class="mt-1" (click)="SelectedItem(data)">
          <div class="row ml-auto mr-auto">
            <div class="col-12 col-md-12" >
              <div class="row ml-1 mt-2">
                <div class="col-6 p-4" [primarybg]="data.primary"></div>
                <div class="col-6 p-4" [accentbg]="data.accent"></div>
              </div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<mat-drawer-container class="example-container" [hasBackdrop]="true">

  <mat-drawer #drawer [mode]="over" position="start">

    <mat-toolbar class="userprofile">
      <div class="col-4 col-md-4">
        <img src="../../assets/images/avatars/man.png" class="sidebaravtar" />
      </div>


    </mat-toolbar>
    <mat-accordion>

        <mat-expansion-panel  [(expanded)]="panelDashboard">
            <mat-expansion-panel-header (click)="panelDashboard=panelDashboard?false:true;drawer.toggle()" routerLink="/Authorised/dashboard">
              <mat-panel-title>
                <mat-icon class="menu-icon">dashboard</mat-icon>
                Dashboard
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
    

      <mat-expansion-panel [(expanded)]="panelMaster">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">list</mat-icon>
            Masters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
              <mat-list-item role="listitem" (click)="panelMaster=panelMaster?false:true;drawer.toggle()" routerLink="/Authorised/areas" routerLinkActive="active" ><mat-icon class="menu-icon" >chevron_right</mat-icon>Areas</mat-list-item>
              <mat-list-item role="listitem" (click)="panelMaster=panelMaster?false:true;drawer.toggle()" routerLink="/Authorised/users" routerLinkActive="active"  ><mat-icon class="menu-icon" >chevron_right</mat-icon>Users</mat-list-item>
              <mat-list-item role="listitem" (click)="panelMaster=panelMaster?false:true;drawer.toggle()" routerLink="/Authorised/members" routerLinkActive="active"><mat-icon class="menu-icon" >chevron_right</mat-icon>Members</mat-list-item>
              <mat-list-item role="listitem" (click)="panelMaster=panelMaster?false:true;drawer.toggle()" routerLink="/Authorised/railways" routerLinkActive="active"><mat-icon class="menu-icon" >chevron_right</mat-icon>Railway APIs</mat-list-item>
              <mat-list-item role="listitem" (click)="panelMaster=panelMaster?false:true;drawer.toggle()" routerLink="/Authorised/offers" routerLinkActive="active"><mat-icon class="menu-icon" >chevron_right</mat-icon>Offers</mat-list-item>
            </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel  [(expanded)]="panelHotel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">hotel</mat-icon>
            Hotels
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" (click)="panelHotel=panelHotel?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Details
          </mat-list-item>
        
          <mat-list-item role="listitem" (click)="panelHotel=panelHotel?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Bookings
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel  [(expanded)]="panelExp">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">beach_access</mat-icon>
           Experiences
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" (click)="panelExp=panelExp?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Details
          </mat-list-item>
          
          <mat-list-item role="listitem" (click)="panelExp=panelExp?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Bookings
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel  [(expanded)]="panelBus">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">directions_bus</mat-icon>
           Buses
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" (click)="panelBus=panelBus?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Details
          </mat-list-item>
         
          <mat-list-item role="listitem" (click)="panelBus=panelBus?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Bookings
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
     
      <mat-expansion-panel [(expanded)]="panelCab">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">directions_car</mat-icon>
           Cabs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" (click)="panelCab=panelCab?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Details
          </mat-list-item>
        
          <mat-list-item role="listitem" (click)="panelCab=panelCab?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Bookings
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      
      
      <mat-expansion-panel  [(expanded)]="panelRestro">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">fastfood</mat-icon>
           Restraurants
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item role="listitem" (click)="panelRestro=panelRestro?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Details
          </mat-list-item>
         
          <mat-list-item role="listitem" (click)="panelRestro=panelRestro?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Orders
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel  [(expanded)]="panelReport">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="menu-icon">assignment</mat-icon>
           Reports
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
        
          <mat-list-item role="listitem" (click)="panelReport=panelReport?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Hotels Booking
          </mat-list-item>

          <mat-list-item role="listitem" (click)="panelReport=panelReport?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Buses Booking
          </mat-list-item>

          <mat-list-item role="listitem" (click)="panelReport=panelReport?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Cabs Booking
          </mat-list-item>

          <mat-list-item role="listitem" (click)="panelReport=panelReport?false:true;drawer.toggle()">
            <mat-icon class="menu-icon">chevron_right</mat-icon> Restraurants Orders
          </mat-list-item>
        
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer #drawerTheme [mode]="push" position="end">

    <div class="col-12 col-md-12 mt-4">
      <div class="row">
          <div class="col-md-12 col-12">
            <h5>Theme Colors</h5>
          </div>
      </div>
      <div class="row mt-4">
      <mat-list role="list" class="mt-4">
        <mat-list-item role="listitem">
          <div class="row ml-auto mr-auto mt-4">
            <div class="col-6 col-md-6" *ngFor="let data of dataItems" (click)="SelectedItem(data);;drawerTheme.toggle()">
              <div class="row ml-1 mt-2">
                <div class="col-6 p-4" [primarybg]="data.primary"></div>
                <div class="col-6 p-4" [accentbg]="data.accent"></div>
              </div>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    </div>


    <div class="col-12 col-md-12 mt-5em">
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-md-12 col-12 mt-2">
              <h5>Sidebar Background</h5>
            </div>
        </div>
            <div class="row mt-4">
                <div class="col-md-4 col-4">
                  <input type="color" class="col-12 col-md-12 form-control" [(ngModel)]="profilebg.firstcolor">
                </div>
                <div class="col-md-4 col-4">
                  <input type="color" class="col-12 col-md-12 form-control" [(ngModel)]="profilebg.secondcolor">
                </div>
                <div class="col-md-4 col-4">
                  <input type="number" class="col-12 col-md-12 form-control" [(ngModel)]="profilebg.colordegree">
                </div>
           </div> 

           <div class="row mt-4">
            <div class="col-md-12 col-12">
              <button mat-button mat-stroked-button class="col-md-12 col-12" (click)="SelectedItem(profilebg);drawerTheme.toggle()">Save</button>
            </div>
       </div> 
      </div>

  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
